# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PDM-related files
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jython cache and packages
.jython_cache/
.jython_cache/packages/

# MacOS system files
.DS_Store
