colorama==0.4.6
dnspython==2.7.0
geograpy3==0.2.7
langdetect==1.0.9
PyGithub==2.4.0
PyGithub==2.4.0
python-dotenv==1.0.1
python_whois==0.9.4
rapidfuzz==3.10.0
Requests==2.32.3
scikit_learn==1.5.2
spacy==3.8.2
torch==2.5.0
tqdm==4.66.5
transformers==4.45.2
lxml_html_clean

#generated with pipreqs
